<br>
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Link with href
</a>
<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false"
  aria-controls="collapseExample">
   Routing with Parameters
</button>
<br><br>

<div class="collapse" id="collapseExample">
  <div class="well">
     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
    craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
<br>
<div class="collapse" id="collapseExample2">
  <div class="well">
    <h4>Angular Routing with Parameters</h4>
    <br>
    <a class="btn btn-info" [routerLink]="['type/', 'eclipse']" role="button">Eclipse</a>
    <a class="btn btn-info" [routerLink]="['type/', 'Neon']" role="button">Neon</a>
    <br>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>